.barChartContainer {
  display: block;
}

.barChart {
  overflow: visible;
}

.tooltip {
  width: fit-content;
  position: absolute;
  background-color: white;
  z-index: 1;
}

text {
  font-size: 8px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}