.chartSVG {
  background-color: white;
}

text {
  font-size: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* for screens 2000px or less */
@media (max-width: 1500px) {
  text {
    font-size: 8px;
  }
}

/* for screens 1000px or less */
@media (max-width: 800px) {
  text {
    font-size: 14px;
  }
}