.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.navbar-left {
    display: flex;
    flex-direction: row;
}

.navbar-center {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    display: flex;
}

.user-icon {
    padding-right: 1rem;
}
